{% extends "layout.html" %}
{% block content %}
      <div class="row">
        <div class="col-md-12">
          <br><h1>Continents Dataset</h1>
        </div>
        <div class="col-md-12">
          <small>
             <br><b>Version:</b>&nbsp;0.1<br>
          <b>Description:</b><br>
          The Continents dataset contains all of the continents of the world
          <br><b>Last updated timestamp:</b>&nbsp;2023-03-02 14:00:01
            </small>
        </div>
        <div class="col-md-12">
          <small><b>Access Methods:</b>
             <br><a href="/continents-0.1.csv">CSV File</a>
            <br><a href="/continents-0.1.json">JSON</a>
            <br>REST API endpoint
            <br>SQL Query
          </small>
        </div>
        <div class="col-md-12">
          <small>
            <b>Documentation:</b><br>
          <a href="https://data-container.azurewebsites.net/dictionary/continents/0.1?format=html">Data Dictionary</a>
        </div>
        <div class="col-md-12">
          <a href="https://data-container.azurewebsites.net/dictionary/continents/0.1?format=html">Data Lineage Diagram</a>
        </div>
        <div class="col-md-12">
          <a href="https://data-container.azurewebsites.net/dictionary/continents/0.1?format=html">Dataset Model Diagram</a>
        </div>
        </small>
      </div>
    </div>
{% endblock %}