{% extends "layout.html" %}
{% block content %}
      <div class="row">
        <h2>Welcome to the Data Marketplace</h2>

          <p>This site will allow you to search and get access to data products and datasets:-
          <li> <a href="/permitted_data_products">Which you have already been permitted to access</a> </li>
          <li> Which belong to business areas closely aligned with your business area. </li>
          <li> That are available for the entire organisation </li>
      </div>
    </div>
{% endblock %}