{% extends "layout.html" %}
{% block content %}
      <div class="row">
        <br>
        You have been permitted to access the data products and datasets listed below
      </div>
      <div class="row">
        <br>
      </div>
        {% for data_product in dp_metadata %}
        <div class="row bg-light">
            <div class="d-flex flex-row">
                <div class="p-2">
                    <h5>{{ data_product.name }}</h5>
                </div>
            </div>
              <div class="d-flex flex-row">
                <div class="p-2">
                  <small>
                      <b>Data Product Owner:</b>&nbsp;<a href="mailto:{{ data_product.contact_email }}">James Dey</a>
                      <br><b>Version:</b> {{ data_product.version }}
                      <br><b>Last updated date:</b>&nbsp;2023-03-02
                      <br><b>Description:</b><br>
                      {{ data_product.description }}
                  </small>
                </div>
              </div>
          {% endfor %}
        <div class="d-flex flex-row">
            <div class="p-2">
                <small>
                    <b>Available Datasets:</b><br>
                    {% for dataset in dataset_metadata %}

                    <li><a href="/dataset?ds_id={{ dataset.ds_id }}&ds_version_id={{ dataset.id }}">{{ dataset.name }}-{{ dataset.version }}</a></li>

                    {% endfor %}
                </small>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="p-2">
              <small>
                  <table class="table table-bordered">
                      <tr>
                          <th>Data Source</th>
                          <th>Data Sharing Agreement</th>
                      </tr>
                      {% for data_source in data_src_metadata %}
                          <tr>
                              <td>{{ data_source.data_source_name }}</td>
                              <td><a href="{{ url }}{{ data_source.url_suffix }}">{{ data_source.dsa_name }}</a></td>
                          </tr>
                      {% endfor %}
                  </table>
            </div>
        </div>
    </div>
{% endblock %}