{% extends "layout.html" %}
{% block content %}
      <div class="row">
        <br>
        The data marketplace allows you to view and access data products.
      </div>
      <div class="row">
        <br>
      </div>
      <div class="row bg-light">
        <div class="col-md-12">
          <h7>Data Product PoC</h7>
        </div>
        <div class="col-md-12">
          <small>
              <br><b>Data Product Owner:</b>&nbsp;<a href="mailto://james.dey@hotmail.com">James Dey</a>
              <br><b>Version:</b>&nbsp;0.1
              <br><b>Last updated date:</b>&nbsp;2023-03-02
          <br><b>Description:</b><br>
          This demo data product will serve up datasets that are relevant to the Acme Data Product Department
            </small>
        </div>
        <div class="col-md-12">
          <small>
          <br><b>Available Datasets:</b><br>
          <a href="/continents-0.1">Continents 0.1</a>
          <br><a href="/countries-0.1">Countries 0.1</a>
          <br><a href="/continents_and_countries-0.2">Continents & Countries 0.2"</a></small>
        </div>
      </div>
    </div>
{% endblock %}